* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  background-color: #303030;
  background: url("../assets/scattered-forcefields.svg");
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
}

.main{
  background-color: #303030;
  background: url("../assets/scattered-forcefields.svg");
  background-size: cover;
}

 body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #222;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: orange;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #222;  /* creates padding around scroll thumb */
}

.scrollBar::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.scrollBar::-webkit-scrollbar-track {
  background: #222;        /* color of the tracking area */
}

.scrollBar::-webkit-scrollbar-thumb {
  background-color: orange;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #222;  /* creates padding around scroll thumb */
}