* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}



.main{
  background-color: #303030;
  background: url("../assets/scattered-forcefields.svg");
  background-size: cover;
}

